.claude/
!.claude/CLAUDE.md
!.claude/settings.json

.gemini/
!.gemini/GEMINI.md
!.gemini/settings.json

.config/configstore/
.config/git/
.config/raycast/extensions/
.config/tcld/
.config/temporalio/

.zshenv