.claude/*
!.claude/CLAUDE.md
!.claude/settings.json
!.claude/statusline.sh

.gemini/*
!.gemini/GEMINI.md
!.gemini/settings.json

.config/configstore/
.config/git/
.config/raycast/extensions/
.config/stack-sandbox/
.config/tcld/
.config/temporalio/
.config/tmux/
!.config/tmux/tmux.conf

.zshenv
